name: build

on:
  schedule:
    - cron: '0 9,13,18 * * *' # Roda automaticamente às 09h, 13h e 18h
  workflow_dispatch: # Permite que você rode manualmente quando quiser

jobs:
  construir:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar ferramentas necessárias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar o Robo
        run: python robo.py

      - name: Salvar alterações no site
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add index.html
          git commit -m "Site e Telegram atualizados automaticamente" || echo "Sem mudanças para salvar"
          git push
